<section id="about-me">

  <div class="row" id="section-title-div">
    <div class="medium-12 columns">
      <h3>About Me</h3>
    </div>
  </div>

  <div class="row sub-section" >
    <div class="medium-8 columns about-text">
      <br>
      <p class="left">My name is Nick Castañeda and I’m a Web Developer born and raised in Los Angeles. I want to use my skills as a coder and an educator to create innovative products and to improve the world that we live in. When I’m not working, you can find me listening to music (R&B, Alternative, Hip-hop), reading in coffeeshops, or running the hills of Sylmar with my dog, Lando.</p>
    </div>
    <div class="medium-4 columns">
      <div class="image-holder right"><img src="/public/images/square_face.png"></div>
    </div>
  </div>

  <div class="row sub-section">
    <div class="medium-4 columns">
      <div class="image-holder left"><img src="/public/images/chalk_board.png"></div>
    </div>
    <div class="medium-8 columns about-text">
      <h4>Previously</h4>
      <p class="right">Before GA I was a math teacher. As an educator I learned the importance of creativity in problem solving. What works in one situation often doesn’t in another. It takes flexibility and innovation to thrive. Developing personal relationships is also crucial in chasing success. Working in a room with 20 or more conflicting personalities and moods, I saw how quickly misunderstandings can devolve into conflict. Communication and patience are essential, especially in team environments, to making work run smoothly.</p>
    </div>
  </div>

  <div class="row sub-section" >
    <div class="medium-8 columns about-text">
      <h4>Now</h4>
      <p class="left">While I love working as an educator, I decided to expand my skill set by enrolling in General Assembly’s Web Development Immersive course. At GA I learnt how to make engaging and responsive front-end web-pages, developed strategies for utilizing back-end frameworks, and most importantly rediscovered my love for solving puzzles and creating. In the last few months I’ve built many programs, including three full-stack applications: Politate, Sugar Rush, and Algebra!</p>
    </div>
    <div class="medium-4 columns">
      <div class="image-holder right"><img src="/public/images/code.png"></div>
    </div>
  </div>

  <div class="row sub-section">
    <div class="medium-4 columns">
      <div class="image-holder left"><img src="/public/images/computer.png"></div>
    </div>
    <div class="medium-8 columns about-text">
      <h4>Skills</h4>
      <p class="left">I am always learning new technologies, but here are some that I already know:</p>
      <ul class="left">
        <li><strong>Languages:</strong> Javascript, Ruby, Python, HTML, CSS</li>
        <li><strong>Front-End Libraries:</strong> jQuery, Bootstrap, Foundation</li>
        <li><strong>Frameworks:</strong> Ruby on Rails, Express, Angular</li>
        <li><strong>Other Tools:</strong> Node, MongoDB, Postgres</li>
      </ul>
    </div>
  </div>

</section>
