<section id="contact">
  <div class="row" id="section-title-div">
    <div class="medium-12 columns">
      <h3>Contact</h3>
    </div>
  </div>

  <div class="row contact-row">

    <div class="medium-3 columns">
      <div class="contact-box" id="first">
        <h5>Email</h5>
        <p>npcastaneda @gmail.com</p>
      </div>
    </div>

    <div class="medium-3 columns">
      <div class="contact-box" id="second">
        <h5>Phone</h5>
        <p>(818) 389-5622</p>
      </div>
    </div>

    <div class="medium-3 columns">
      <div class="contact-box" id="third">
        <h5>GitHub</h5>
        <a href="https://github.com/nick-castaneda"><p>link</p></a>
      </div>
    </div>

    <div class="medium-3 columns">
      <div class="contact-box" id="fourth">
        <h5>LinkedIn</h5>
        <a href="https://www.linkedin.com/in/nickpcastaneda"><p>link</p></a>
      </div>
    </div>

  </div>

</section>
