<section id="home">

  <div class="row projs">
    <div class="medium-4 columns">
      <img class="portProj" src="public/images/algebra.png">
    </div>
    <div class="medium-4 columns">
      <img class="portProj" src="public/images/sugar_rush.png">
    </div>
    <div class="medium-4 columns">
      <img class="portProj" src="public/images/politate.png">
    </div>
  </div>

  <div class="row projs">
    <div class="medium-4 columns">
      <img class="portProj" src="public/images/carmen.png">
    </div>
    <div class="medium-4 columns">
      <img class="portProj" src="public/images/tictactoe.png">
    </div>
    <div class="medium-4 columns">
      <img class="portProj" src="public/images/give.png">
    </div>
  </div>



</section>
