<section id="projects">

  <div class="row" id="section-title-div">
    <div class="medium-12 columns">
      <h3>Portfolio</h3>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Algebra!</h4>
      <p>Algebra! is an interactive learning portal for students and math enthusiasts studying algebra. The site keeps track of user statistics and allows users to input and manipulate algebraic equations.</p>
      <p class="links"><a href="/portfolio/algebra">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/algebra-">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/algebra.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Sugar Rush</h4>
      <p>Sugar Rush is a dessert delivery app written with the ExpressJS framework. Hungry Angelenos can order dessert items from popular restaurants and have them delivered in minutes.</p>
      <p>Created with <a href="http://www.franbudiman.com/">Fran Budiman</a>, <a href="http://www.thomastaechoi.com/">Thomas Choi</a>, <a href="http://www.gamaur.com/">Gamaur Landrum</a>, <a href="http://www.edwardyu.xyz">Edward Yu</a></p>
      <p class="links"><a href="http://sugar-rush.herokuapp.com/">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/edwardyu714/Sugar-Rush">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/sugar_rush.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Politate</h4>
      <p>Politate is a Ruby on Rails application with the goal of improving political transparity. Users can post transcripts of political event and annotate statemtents with comments and citations.</p>
      <p class="links"><a href="https://politate.herokuapp.com/">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/politate">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/politate.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Carmen Sandiego</h4>
      <p>Carmen Sandiego is a clone of the popular edutainment game "Where in the World is Carmen Sandiego", written entirely in Javascript and CSS/HTML. Novice detectives can travel the world searching for clues off the identity of international criminals.</p>
      <p class="links"><a href="/portfolio/carmensandiego">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/carmen-sandiego">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/carmen.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Give (MLK Day Hackathon)</h4>
      <p>Give is a donation and pulic interest awareness website and was the winning submission in General Assembly's 2016 Martin Luther King Day Hackathon.</p>
      <p>Created with <a href="http://www.crystallinchen.com">Crystal Chen</a>, <a href="http://www.carolinegudel.com">Caroline Grudel</a>, <a href="http://www.john-bh-kwak.com">John Kwak</a>, <a href="http://www.burritobeto.net/">Roberto Plascencia</a></p>
      <p class="links"><a href="http://give-mlk-hackathon.herokuapp.com/">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/solving-homelessness">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/give.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Tic Tac Toe</h4>
      <p>Tic Tac Toe is my version of the popular children's game, written entirely in HTML, CSS, and Javascript (withouth jQuery). You can play against a friend, or try to take on one of the three computer opponents coded into the program.</p>
      <p class="links"><a href="/portfolio/tictactoe">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/tic-tac-toe">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/tictactoe.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Six-Function Calculator</h4>
      <p>S.F.C. is a calculator I built to practice coding in javascript. It can only do basic operations, but it's really good looking.</p>
      <p class="links"><a href="/portfolio/jscalc">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/javascript-calculator">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/calculator.png"></div>
    </div>
  </div>


</section>
