<section id="projects">

  <div class="row" id="section-title-div">
    <div class="medium-12 columns">
      <h3>Projects</h3>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Algebra!</h4>
      <p>Algebra! is an interactive learning portal for students and math enthusiasts studying alegra. The site keeps track of user statistics and allows users to input and manipulate algebraic equations.</p>
      <p class="links"><a href="https://www.youtube.com/watch?v=NHfWY0is3rE">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/algebra-">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="http://media.showme.com/files/24714/pictures/thumbs/52871/last_thumb1317735954.jpg"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Sugar Rush</h4>
      <p>Created with <a href="">Fran Budiman</a>, <a href="">Thomas Choi</a>, <a href="">Gamaur Landrum</a>, <a href="http://www.edwardyu.xyz">Edward Yu</a></p>
      <p>Sugar Rush is a dessert delivery app written with the ExpressJS framework. Hungry Angelenos can order dessert items from popular restaurants and have them delivered in minutes.</p>
      <p class="links"><a href="http://sugar-rush.herokuapp.com/">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/edwardyu714/Sugar-Rush">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/sugar_rush.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Politate</h4>
      <p>Politate is a Ruby on Rails application with the goal of improving political transparity. Users can post transcripts of political event and annotate statemtents with comments and citations.</p>
      <p class="links"><a href="https://politate.herokuapp.com/">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/politate">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/politate.png"></div>
    </div>
  </div>

  <div class = "row project">
    <div class="medium-5 medium-offset-1 columns">
      <h4>Carmen Sandiego</h4>
      <p>Carmen Sandiego is a clone of the popular edutainment game "Where in the World is Carmen Sandiego", written entirely in Javascript and CSS/HTML. Novice detectives can travel the world searching for clues off the identity of international criminals.</p>
      <p class="links"><a href="http://nick-castaneda.github.io/carmen-sandiego/">Link</a>&nbsp&nbsp&nbsp<a href="https://github.com/nick-castaneda/carmen-sandiego">Github</a></p>
    </div>
    <div class="medium-5 columns">
      <div class="computer-screen"><img src="public/images/carmen.png"></div>
    </div>
  </div>


</section>
