// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// General Styles //
body{
  background-color: #32313B;
}
h1{
  color: #39B1C6;
  text-align: center;
}
hr{
  border-color: #39B1C6;
}
.logreg{
  position: static !important;
  color: white !important;
}
.top-bar{
  background-color: #222930;
  border-bottom: 4px solid #4EB1BA;
  margin-bottom: 50px;
  font-size: 25px;
  .top-bar-title{
    float: left;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
  }
  #dropdown-list{
    float: right;
    margin-right: 10%;
  }
  #drop-down-button{
    font-size: 20px;
    background-color: #222930;
  }
  #move-up{
    margin-top: -4px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}

// Home Styles //
#home{
  #title-row{
    text-align: center;
    margin: 50px auto;
    h1{
      font-size: 100px;
      color: white;
      margin-bottom: 0;
    }
  }
  #login-modal{}
  #register-modal{}
}

// Rankings Styles //
#profile{
  h3{color: #39B1C6;}
  h4{color: white}
  #prof-pic-div{
    width: 100%;
    border: 3px solid #39B1C6;
  }
  #prof-pic-img{
    width: 100%;
    height: 100%;
  }
  table{
    margin: 0 auto;
    width: 100%;
    border: 3px solid #39B1C6;
    th{
      text-align: center;
      border-bottom: 2px solid black;
    }
  }
}

// Equation Solver Styles //
#equation-solver{
  h3{
    color: #39B1C6;
    font-family: 'Droid Sans';
  }
  #input-box, #operand-input-box{
    width: 80%;
    height: 50px;
    border: 3px solid #EC3F8C;
    margin-bottom: 20px;
    background-color: white;
    display: inline-block;
  }
  #eq-submit{
    float: right;
  }
  #form-and-box{
    margin: 0 auto;
  }
  #equation-box{
    height: 500px;
    width: 100%;
    border: 3px solid #EC3F8C;
    background-color: white;
    font-size: 30px;
    .firstTerm{ background-color: red }
    .firstOperator{ background-color: green}
    .secondTerm{ background-color: blue }
    .thirdTerm{ background-color: yellow }
    .secondOperator{ background-color: purple}
    .fourthTerm{ background-color: grey }
  }
  .button.secondary{
    background-color: #EC3F8C;
    color: white;
    border-color: #EC3F8C; /* Change! */
    font-family: 'Droid Sans';
  }
  #equation-form{display: block;}
  #operate-form{display: none;}

  // Copied for the op buttons
  $radio-button-color:#5dc755;
  input[type="radio"] {
  -webkit-appearance: none;
  }
  .row.collapse.foundation-radio-button-row {
    margin-bottom:1rem; //to get the vert/horz center trick to work well, I have to remove the button margin, so I add it to the row instead.
  }
  .foundation-radio-button {
    position:relative;
    border-right:1px solid white;
    input.button {
      background:$radio-button-color;
      &:hover {
        background:darken($radio-button-color, 5%);
      }
      margin-bottom:0;
      padding:1.25em;
      &[type="radio"]:checked {
        background:darken($radio-button-color, 10%);
      }
      + label {
        font-size:1rem;
        color: white;
        position:absolute;
        top:50%;;
        left:50%;
        display:inline-block;
        width:auto;
        transform:translate(-50%, -50%);
      }
    }
  }
}

// Expression Simplifier
#expression-simplifier{
  #exp-input-box{
    border: 3px solid #EC3F8C;
  }
  #expression-form{
    display: block;
  }
  #combine-holder{
    display: none;
  }
  #expression-holder{
    overflow: auto;
    display: none;
    .term{
      background-color: #39B1C6;
      border: 2px solid white;
      color: white;
      text-align: center;
      margin: 25px;
      display: inline-block;
      .term-text{
        font-size: 25px;
        margin: 10px 20px;
      }
    }
    .highlighted{ border: 2px solid #EC3F8C;}
  }
}

// Sat Problem Styling
#sat-problems{

}

// Notes Styling
#sat-problems{

}
