<section id="equation-solver" ng-controller="equationController as equation">

  <div class="row">
    <div class="large-12 columns">
      <h1>Equation Solver</h1>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="large-9 large-centered columns" id='form-and-box'>

      <form ng-submit="equation.post()" id="equation-form">
        <input type="text" id="input-box"/>
        <input type="submit" id="eq-submit" class="button round secondary"/>
      </form>

      <form ng-submit="equation.operate()" id="operate-form">
        <div class="row collapse foundation-radio-button-row">
          <div class="small-3 columns">
            <div class="foundation-radio-button"><input class="button large expand" type="radio" name="operation" value="+" id="add-op"><label for="add-op">+</label></div>
          </div>
          <div class="small-3 columns">
            <div class="foundation-radio-button"><input class="button large expand" type="radio" name="operation" value="-" id="sub-op"><label for="sub-op">-</label></div>
          </div>
          <div class="small-3 columns">
            <div class="foundation-radio-button"><input class="button large expand" type="radio" name="operation" value="*" id="mult-op"><label for="mult-op">x</label></div>
          </div>
          <div class="small-3 columns">
            <div class="foundation-radio-button"><input class="button large expand" type="radio" name="operation" value="/" id="div-op"><label for="div-op">/</label></div>
          </div>
        </div>

        <input type="text" id="operand-input-box"/>
        <input type="submit" id="eq-submit" class="button round secondary"/>
      </form>

      <div id="equation-box">
        <div class="row">
          <div class="large-2 columns" id="firstTerm"></div>
          <div class="large-1 column" id="firstOperator"></div>
          <div class="large-2 columns" id="secondTerm"></div>
          <div class="large-2 columns" id="equalSign"></div>
          <div class="large-2 columns" id="thirdTerm"></div>
          <div class="large-1 column" id="secondOperator"></div>
          <div class="large-2 columns" id="fourthTerm"></div>
        </div>
      </div>

    </div>
  </div>

</section>

<!--     <div class="large-3 columns">
      <h3>Operators</h3>
      <ul class="button-group radius even-4">
        <li><a href="#" id="plus" class="button secondary">+</a></li>
        <li><a href="#" id="minus" class="button secondary">-</a></li>
        <li><a href="#" id="times" class="button secondary">x</a></li>
        <li><a href="#" id="divide" class="button secondary">÷</a></li>
      </ul>
      <h3>Numbers</h3>
      <ul class="button-group radius even-5">
        <li><a href="#" id="five" class="button secondary">5</a></li>
        <li><a href="#" id="six" class="button secondary">6</a></li>
        <li><a href="#" id="seven" class="button secondary">7</a></li>
        <li><a href="#" id="eight" class="button secondary">8</a></li>
        <li><a href="#" id="nine" class="button secondary">9</a></li>
      </ul>
      <ul class="button-group radius even-5">
        <li><a href="#" id="zero" class="button secondary">0</a></li>
        <li><a href="#" id="one" class="button secondary">1</a></li>
        <li><a href="#" id="two" class="button secondary">2</a></li>
        <li><a href="#" id="three" class="button secondary">3</a></li>
        <li><a href="#" id="four" class="button secondary">4</a></li>
      </ul>
      <h3>Numb Modifiers</h3>
      <ul class="button-group radius even-5">
        <li><a href="#" id="plus" class="button secondary">+/-</a></li>
        <li><a href="#" id="minus" class="button secondary">.</a></li>
        <li><a href="#" id="times" class="button secondary">/</a></li>
        <li><a href="#" id="divide" class="button secondary">(</a></li>
        <li><a href="#" id="divide" class="button secondary">)</a></li>
      </ul>

    </div> -->
