<section id="home">


  <br><br><br>
  <!-- Row with all the buttons -->
  <div class="row" class="button-row">
    <div class="large-3 columns button-collumn">
      <a ui-sref='equation-solver' class="button round large">Equation Solver</a>
    </div>
    <div class="large-3 columns button-collumn">
      <a ui-sref='expression-simplifier' class="button round large">Expression Simplifier</a>
    </div>
  </div>

  <!-- Row with title and login/register links -->
  <div class="row" id="title-row">
    <div class="large-12 columns">
      <h1>ALGEBRA!</h1>
      <br><br>
    </div>
  </div>

  <!-- Row with all the buttons -->
  <div class="row" class="button-row">
    <div class="large-3 columns button-collumn">
      <a ui-sref='sat-problems' class="button round large">SAT Questions</a>
    </div>
    <div class="large-3 columns button-collumn">
      <a ui-sref='notes' class="button round large">Algebra Notes and More!</a>
    </div>
  </div>

</section>
