<section id="profile">

  <div class="row">
    <div class="large-12 columns">
      <h1>{{users.currentUser.username}}</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <div id="prof-pic-div">
        <img id="prof-pic-img" src={{users.currentUser.picUrl}}>
      </div>
    </div>

    <div class="large-4 columns">
      <h3>Level: </h3>
      <h4>{{users.currentUser.level}}</h4>
      <h3>Total Points: </h3>
      <h4>{{users.currentUser.points.equation + users.currentUser.points.expression + users.currentUser.points.sat}}</h4>
      <h3>Equation Points: </h3>
      <h4>{{users.currentUser.points.equation}}</h4>
      <h3>Expression Points: </h3>
      <h4>{{users.currentUser.points.expression}}</h4>
      <h3>SAT Points: </h3>
      <h4>{{users.currentUser.points.sat}}</h4>
    </div>

    <div class="large-4 columns">
      <h3>Leaderboard</h3>
      <table>
        <thead>
          <tr>
            <th>Student</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users.users | orderBy:'-level' ">
            <th>{{user.username}}</th>
            <th>{{ user.level }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</section>
