<!DOCTYPE html>
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Equation Solver</title>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

  <script src="javascripts/server.js"></script>
  <script src="javascripts/userController.js"></script>
  <script src="javascripts/userService.js"></script>
  <script src="javascripts/equationController.js"></script>
  <script src="javascripts/equationSolverLogic.js"></script>
  <script src="javascripts/expressionController.js"></script>
  <script src="javascripts/expressionSimplifierLogic.js"></script>
  <script src="javascripts/satController.js"></script>
  <script src="javascripts/satService.js"></script>

  <script src="javascripts/vendor/custom.modernizr.js"></script>
</head>

<body ng-app="algebra" ng-controller="userController as users">

  <div class="top-bar">
    <div class="top-bar-title">
      <a ui-sref='home'>ALGEBRA!</a>
    </div>
    <section class="top-bar-section" id="dropdown-list">
      <ul class="right">
        <li class="has-dropdown" id="move-up">
          <a href="#" id="drop-down-button">Modules</a>
          <ul class="dropdown">
            <li><a ui-sref="equation-solver">Equation Solver</a></li>
            <li><a ui-sref="expression-simplifier">Expression Simplifier</a></li>
            <li><a ui-sref="sat-problems">SAT Problems</a></li>
            <li><a ui-sref="notes">Notes</a></li>
          </ul>
        </li>
        <li class="has-dropdown" id="move-up" ng-if="users.currentUser.username">
          <a href="#" id="drop-down-button">{{users.currentUser.username}}</a>
          <ul class="dropdown">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ng-click="users.logout()">Logout</a></li>
          </ul>
        </li>
        <li class="has-dropdown" id="move-up" ng-if="!users.currentUser.username">
          <a href="#" data-reveal-id="loginModal" id="drop-down-button">Login</a>
          <ul class="dropdown"></ul>
        </li>
      </ul>
    </section>
  </div>

  <!-- Modal for login with form -->
  <div id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Login</h2>
    <p class="lead">If you have an acount, login. Otherwise, <a href="#" data-reveal-id="registerModal">Register</a></p>
    <form ng-submit="users.login(users.loginUser.username, users.loginUser.password)">
      <label for="username">Username:</label>
      <input type="text" ng-model="users.loginUser.username">
      <label for="password">Password:</label>
      <input type="password" ng-model="users.loginUser.password">
      <!-- <div class="logreg close-reveal-modal"> -->
        <button type="submit">Login</button>
      <!-- </div> -->
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <!-- Modal for registering with form -->
  <div id="registerModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Register</h2>
    <form ng-submit="users.register(users.newUser.username, users.newUser.password, users.newUser.url)">
      <label for="username">Username:</label>
      <input ng-model="users.newUser.username">
      <label for="password">Password:</label>
      <input type="password" ng-model="users.newUser.password">
      <label for="url">Profile Pic URL:</label>
      <input type="text" ng-model="users.newUser.url">
      <!-- <div class="logreg close-reveal-modal"> -->
        <button type="submit">Register</button>
      <!-- </div> -->
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <!-- UI Views -->
  <section ui-view></section>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="javascripts/foundation/foundation.js"></script>
	<script src="javascripts/foundation/foundation.abide.js"></script>
	<script src="javascripts/foundation/foundation.alerts.js"></script>
	<script src="javascripts/foundation/foundation.clearing.js"></script>
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	<script src="javascripts/foundation/foundation.forms.js"></script>
	<script src="javascripts/foundation/foundation.interchange.js"></script>
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	<script src="javascripts/foundation/foundation.section.js"></script>
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	<script src="javascripts/foundation/foundation.topbar.js"></script>

  <script>
    $(document).foundation();



  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
